{# Build template macros #}

{% macro summary(build) %}
    {{- [build.architecture, build.config_name,
         none if build.comment is none else ('"' + build.comment + '"')] |
        reject("none") | join(" ") | default(build.id, true) -}}
{% endmacro %}

{% macro container_summary(container, max_list_len) %}
    {% if container.builds %}
        {{- "\nBUILDS" }}
        {% set invalid_builds =
                container.builds | selectattr("valid", "false") | list %}
        {% set valid_builds =
                container.builds | selectattr("valid", "true") | list %}
        {% set unknown_builds =
                container.builds | selectattr("valid", "none") | list %}
        {{- "\n    Status" }}
            {% set invalid_build_count = invalid_builds | length %}
            {% set valid_build_count = valid_builds | length %}
            {% set unknown_build_count = unknown_builds | length %}
            {% set build_fmt =
                "%" +
                ((8 + (container.architecture_valid_builds |
                  map("default", "", true) | map("length") | max)) | string) +
                "s" +
                (("  %s %" +
                  (invalid_build_count | string | length | string) + "s")
                 if invalid_build_count else
                 "%.0s%.0s") +
                (("  %s %" +
                  (valid_build_count | string | length | string) + "s")
                 if valid_build_count else
                 "%.0s%.0s") +
                (("  %s %" +
                  (unknown_build_count | string | length | string) + "s")
                 if unknown_build_count else
                 "%.0s%.0s")
            %}
            {% macro status(architecture,
                            invalid_build_count,
                            valid_build_count,
                            unknown_build_count) %}
                {{- build_fmt | format("?" if architecture is none
                                       else architecture,
                                       "❌" if invalid_build_count else "➖",
                                       (invalid_build_count | string)
                                       if invalid_build_count else "",
                                       "✅" if valid_build_count else "➖",
                                       (valid_build_count | string)
                                       if valid_build_count else "",
                                       "❓" if unknown_build_count else "➖",
                                       (unknown_build_count | string)
                                       if unknown_build_count else "") -}}
            {% endmacro %}
            {{- status("",
                       invalid_build_count,
                       valid_build_count,
                       unknown_build_count) }}
        {{- "\n    Architectures" }}
            {% for architecture, valid_builds
               in container.architecture_valid_builds.items() %}
                {{- status(architecture,
                           valid_builds[false] | length,
                           valid_builds[true] | length,
                           valid_builds[none] | length) }}
            {% endfor %}
        {% if invalid_builds %}
            {{- "    Failures" }}
            {% set ns = namespace(build_summary_counts={}) %}
            {% for build in invalid_builds %}
                {% set build_summary = summary(build) %}
                {% set _ = ns.build_summary_counts.__setitem__(
                                build_summary,
                                ns.build_summary_counts.get(build_summary, 0) + 1
                           ) %}
            {% endfor %}
            {% set build_summary_counts_items = ns.build_summary_counts |
                        dictsort(by='value', reverse=true) | list %}
            {% for build_summary, count in build_summary_counts_items[:max_list_len] %}
                {{- "        ❌ " + (count | string) + "  " + build_summary }}
            {% endfor %}
            {% if (build_summary_counts_items | length) > max_list_len %}
                {{- "        ..." }}
            {% endif %}
        {% endif %}
        {{- "    By\n        " -}}
            {{- container.builds | map(attribute="origin") |
                unique | sort | join(", ") }}
    {% endif %}
{% endmacro %}
