{# Build description template #}
{% import "checkout.j2" as checkout_macros %}
{% import "test.j2" as test_macros %}
{% import "misc.j2" as misc_macros %}
{# Maximum length of a list of things (builds/tests/etc.) #}
{% set max_list_len = 5 %}
Below is the summary of testing results Kernel CI database has recorded
for this build so far. See complete and up-to-date report at:

    https://kcidb.kernelci.org/d/build/build?orgId=1&var-id={{ build.id | urlencode }}

OVERVIEW

         Build: {{ misc_macros.valid_badge(build.valid) }}
{% if build.tests %}
         Tests: {{ test_macros.waived_status_badge(build.tests_root.waived,
                                                   build.tests_root.status) }}
{% endif %}

BUILD

    Status
                {{ misc_macros.valid_badge(build.valid) }}
{% if build.checkout %}
    Checkout
                {{ checkout_macros.summary(build.checkout) }}
{% endif %}
{% if build.architecture %}
    Architecture
                {{ build.architecture }}
{% endif %}
{% if build.compiler %}
    Compiler
                {{ build.compiler }}
{% endif %}
{% if build.config_name or build.config_url %}
    Configuration
    {% if build.config_name %}
          name: {{ build.config_name }}
    {% endif %}
    {% if build.config_url %}
          file: {{ build.config_url }}
    {% endif %}
{% endif %}
{% if build.input_files %}
    Input files
    {% for input_file in build.input_files %}
                {{ input_file.name }}: {{ input_file.url }}
    {% endfor %}
{% endif %}
{% if build.output_files %}
    Output files
    {% for output_file in build.output_files %}
                {{ output_file.name }}: {{ output_file.url }}
    {% endfor %}
{% endif %}
    Executed
            by: {{ build.origin }}
{% if build.start_time %}
            at: {{ build.start_time }}
{% endif %}
{% if build.duration %}
            in: {{ build.duration }} seconds
{% endif %}
{% if build.command %}
       command: {{ build.command }}
{% endif %}
{% if build.log_url %}
           log: {{ build.log_url }}
{% endif %}
{% if build.comment %}
    Comment
                {{ build.comment }}
{% endif %}
{# #}
{{- test_macros.container_summary(build, max_list_len) -}}
{# #}

See complete and up-to-date report at:

    https://kcidb.kernelci.org/d/build/build?orgId=1&var-id={{ build.id | urlencode }}
{{ misc_macros.legend() }}

{# Force git commit hook to ignore trailing newline #}
