{# Checkout description template #}
{% import "test.j2" as test_macros %}
{% import "build.j2" as build_macros %}
{% import "misc.j2" as misc_macros %}
{# Maximum length of a list of things (builds/tests/etc.) #}
{% set max_list_len = 5 %}
Below is the summary of testing results Kernel CI database has recorded
for this checkout so far. See complete and up-to-date report at:

    https://kcidb.kernelci.org/d/checkout/checkout?orgId=1&var-id={{ checkout.id | urlencode }}

OVERVIEW

      Checkout: {{ misc_macros.valid_badge(checkout.valid) }}
{% if checkout.builds %}
        Builds: {{ misc_macros.valid_badge(checkout.builds_valid) }}
{% endif %}
{% if checkout.tests %}
         Tests: {{ test_macros.waived_status_badge(checkout.tests_root.waived,
                                                   checkout.tests_root.status) }}
{% endif %}

CHECKOUT

    Status
        {{ misc_macros.valid_badge(checkout.valid) }}
    Commit
        {% if checkout.revision.git_commit_name %}
            {{- "        name: " + checkout.revision.git_commit_name }}
        {% endif %}
        {% if checkout.revision.git_commit_hash %}
            {{- "        hash: " + checkout.revision.git_commit_hash }}
        {% endif %}
{% if checkout.git_repository_url %}
    From
        {{ [checkout.git_repository_url, checkout.git_repository_branch] |
           reject("none") | join(" ") }}
{% endif %}
{% if checkout.revision.patchset_files %}
    {% set patch_count = checkout.revision.patchset_files | length %}
    With {{ patch_count -}}
    {{- " patches" if patch_count > 1 else "patch" }} applied
        {% for patchset_file in checkout.revision.patchset_files[:max_list_len] %}
            {{- "        " + patchset_file.url }}
        {% endfor %}
        {% if (checkout.revision.patchset_files | length) > max_list_len %}
            {{- "        ..." }}
        {% endif %}
{% endif %}
{% if checkout.comment %}
    Comment
        {{ checkout.comment }}
{% endif %}
    By
        {{ checkout.origin }}
{# #}
{{- build_macros.container_summary(checkout, max_list_len) -}}
{{- test_macros.container_summary(checkout, max_list_len) -}}
{# #}

See complete and up-to-date report at:

    https://kcidb.kernelci.org/d/checkout/checkout?orgId=1&var-id={{ checkout.id | urlencode }}
{{ misc_macros.legend() }}

{# Force git commit hook to ignore trailing newline #}
