{# Checkout description template #}
{% import "test_macros.j2" as test_macros %}
{% import "build_macros.j2" as build_macros %}
Below is the summary of testing results Kernel CI database has recorded
for this checkout so far. See complete and up-to-date report at:

    https://staging.kernelci.org:3000/d/checkout/checkout?orgId=1&var-id={{ checkout.id | urlencode }}

OVERVIEW

      Checkout: {{ "❓" if checkout.valid is none else
                   "✅" if checkout.valid else
                   "❌" }}
{% if checkout.builds_ %}
        Builds: {{ "❌" if checkout.builds_.values() |
                           rejectattr("valid") | list else
                   "✅" if checkout.builds_.values() |
                           selectattr("valid") | list else
                   "❓" }}
{% endif %}
{% set ns = namespace() %}
{% set ns.got_tests = False %}
{% set ns.worst_status_ = None %}
{% set ns.worst_waived_ = None %}
{% for build in checkout.builds_.values() %}
    {% for test in build.tests_.values() %}
        {% if not ns.got_tests or
              test.waived_.value * test.status_.value >
                ns.worst_waived_.value * ns.worst_status_.value %}
            {% set ns.worst_status_ = test.status_ %}
            {% set ns.worst_waived_ = test.waived_ %}
        {% endif %}
        {% set ns.got_tests = True %}
    {% endfor %}
{% endfor %}
{% if ns.got_tests %}
         Tests: {{ test_macros.waived_emoji(ns.worst_waived_) -}}
                {{- test_macros.status_emoji(ns.worst_status_) -}}
                {{- " " + test_macros.status_name(ns.worst_status_) }}
{% endif %}

CHECKOUT

    Status
                {{ "❓" if checkout.valid is none else
                   "✅" if checkout.valid else
                   "❌" }}
{% if checkout.comment %}
   Comment
                {{ checkout.comment }}
{% endif %}
{% if checkout.git_repository_url or checkout.git_repository_branch %}
    Repo
    {% if checkout.git_repository_url %}
           URL: {{ checkout.git_repository_url }}
    {% endif %}
    {% if checkout.git_repository_branch %}
        branch: {{ checkout.git_repository_branch }}
    {% endif %}
{% endif %}
{% if checkout.git_commit_name or checkout.git_commit_hash %}
    Commit
    {% if checkout.git_commit_name %}
          name: {{ checkout.git_commit_name }}
    {% endif %}
    {% if checkout.git_commit_hash %}
          hash: {{ checkout.git_commit_hash }}
    {% endif %}
{% endif %}
{% if checkout.patchset_files %}
    Patches
    {% for file in checkout.patchset_files %}
                {{ file.name }}
    {% endfor %}
{% endif %}
    Started
            by: {{ checkout.origin }}
{% if checkout.start_time %}
            at: {{ checkout.start_time }}
{% endif %}

{% if checkout.builds_ %}
BUILDS

    Status
                {{ "❌" if checkout.builds_.values() |
                           rejectattr("valid") | list else
                   "✅" if checkout.builds_.values() |
                           selectattr("valid") | list else
                   "❓" }}

    {% set build_ns = namespace() %}
    {% set build_ns.col = 0 %}
    {% for build in checkout.builds_.values() %}
        {{- "    " -}}
        {{- "❓ " if build.valid is none else
            "✅ " if build.valid else
            "❌ " -}}
        {{- build_macros.summary(build) }}
    {% endfor %}

{% endif %}
{% if ns.got_tests %}
TESTS

    Status
                {{ test_macros.waived_emoji(ns.worst_waived_) -}}
                {{- test_macros.status_emoji(ns.worst_status_) -}}
                {{- " " + test_macros.status_name(ns.worst_status_) }}

    {% for build in checkout.builds_.values() %}
        {% set build_ns.got_tests = False %}
        {% set build_ns.worst_status_ = None %}
        {% set build_ns.worst_waived_ = None %}
        {% for test in build.tests_.values() %}
            {% if not build_ns.got_tests or
                  test.waived_.value * test.status_.value >
                    build_ns.worst_waived_.value *
                    build_ns.worst_status_.value %}
                {% set build_ns.worst_status_ = test.status_ %}
                {% set build_ns.worst_waived_ = test.waived_ %}
            {% endif %}
            {% set build_ns.got_tests = True %}
        {% endfor %}
        {% if build_ns.got_tests %}
            {{- "    " + test_macros.waived_emoji(build_ns.worst_waived_) -}}
            {{- test_macros.status_emoji(build_ns.worst_status_) -}}
            {{- " " + build_macros.summary(build) }}
            {% for test in build.tests_.values() %}
                {{- "        " + test_macros.waived_emoji(test.waived_) -}}
                {{- test_macros.status_emoji(test.status_) -}}
                {{- " " + test_macros.summary(test) }}
            {% endfor %}
            {{- "" }}
        {% endif %}
    {% endfor %}
{% endif %}
