{# Issue description template #}
{%- import "issue.j2" as issue_macros -%}
{# Maximum length of a list of things (builds/tests/etc.) #}
{% set max_list_len = 5 %}
Below is the summary of results Kernel CI database has recorded
for this issue so far. See complete and up-to-date report at:

    https://kcidb.kernelci.org/d/issue/issue?orgId=1&var-id={{issue.id | urlencode }}

OVERVIEW

{{ issue_macros.overview(issue, max_list_len) }}

See complete and up-to-date report at:

    https://kcidb.kernelci.org/d/issue/issue?orgId=1&var-id={{issue.id | urlencode }}
{# Force git commit hook to ignore trailing newline #}
