{# Revision description template #}
{% import "test.j2" as test_macros %}
{% import "build.j2" as build_macros %}
{% import "misc.j2" as misc_macros %}
{# Maximum length of a list of things (builds/tests/etc.) #}
{% set max_list_len = 5 %}
Below is the summary of results Kernel CI database has recorded
for this revision so far. See complete and up-to-date report at:

    https://kcidb.kernelci.org/d/revision/revision?orgId=1&var-git_commit_hash={{revision.git_commit_hash | urlencode }}&var-patchset_hash={{revision.patchset_hash | urlencode }}

OVERVIEW

{% if revision.patchset_files %}
       Patches: {{ misc_macros.valid_badge(revision.checkouts_valid) }}
{% endif %}
{% if revision.builds %}
        Builds: {{ misc_macros.valid_badge(revision.builds_valid) }}
{% endif %}
{% if revision.tests %}
         Tests: {{ test_macros.waived_status_badge(revision.tests_root.waived,
                                                   revision.tests_root.status) }}
{% endif %}

REVISION

    Status
        {{ misc_macros.valid_badge(revision.checkouts_valid) }}
    Commit
        {% if revision.git_commit_name %}
            {{- "        name: " + revision.git_commit_name }}
        {% endif %}
        {% if revision.git_commit_hash %}
            {{- "        hash: " + revision.git_commit_hash }}
        {% endif %}
    Checked out from
        {% for repo, branch_checkouts
           in revision.repo_branch_checkouts.items() %}
            {{- "        " +
                (([repo] + (branch_checkouts | list)) |
                 reject("none") | join(" ")) }}
        {% endfor %}
{% if revision.patchset_files %}
    {% set patch_count = revision.patchset_files | length %}
    With {{ patch_count -}}
    {{- " patches" if patch_count > 1 else "patch" }} applied
        {% for patchset_file in revision.patchset_files[:max_list_len] %}
            {{- "        " + patchset_file.url }}
        {% endfor %}
        {% if (revision.patchset_files | length) > max_list_len %}
            {{- "        ..." }}
        {% endif %}
{% endif %}
    By
        {{ revision.checkouts | map(attribute="origin") |
           unique | sort | join(", ") }}
{# #}
{{- build_macros.container_summary(revision, max_list_len) -}}
{{- test_macros.container_summary(revision, max_list_len) -}}
{# #}

See complete and up-to-date report at:

    https://kcidb.kernelci.org/d/revision/revision?orgId=1&var-git_commit_hash={{revision.git_commit_hash | urlencode }}&var-patchset_hash={{revision.patchset_hash | urlencode }}
{{ misc_macros.legend() }}

{# Force git commit hook to ignore trailing newline #}
