{# Revision template macros #}

{% macro summary(revision) %}
    {% set git_repository_url =
        revision.repo_branch_checkouts | list | first %}
    {% set git_repository_branch =
        revision.repo_branch_checkouts[git_repository_url] | list | first %}
    {% set location = none
                      if git_repository_url is none
                      else ([git_repository_url.split("/")[-1],
                             git_repository_branch] |
                            reject("none") | join(":")) %}
    {% set commit = (none
                     if revision.git_commit_hash is none
                     else revision.git_commit_hash[:12])
                    if revision.git_commit_name is none
                    else revision.git_commit_name %}
    {% set location_commit = [location, commit] | reject("none") |
                             join("@") | default(none, true) %}
    {% set patches = ("+" + (revision.patchset_files | length | string) + "P")
                     if revision.patchset_files
                     else none %}
    {% set location_commit_patches =
        none
        if location_commit is none
        else ([location_commit, patches] | reject("none") | join("")) %}
    {% set comment =
        revision.repo_branch_checkouts[git_repository_url]
                                      [git_repository_branch] |
        map(attribute="comment") | reject("none") | first | default(none)
    %}
    {{- [location_commit_patches,
         none if comment is none else ('"' + comment + '"')] |
        reject("none") | join(" ") -}}
{% endmacro %}
