{# Build template macros #}
{% from "common.j2" import selected_origins, indent %}

{% macro build_stats(container) %}
    {% if container.builds %}
        {% set failed_builds =
                container.builds | selectattr("status", "eq", "FAIL") |
                selectattr('origin', 'in', selected_origins) | list %}
        {% set passed_builds =
                container.builds | selectattr("status", "eq", "PASS") |
                selectattr('origin', 'in', selected_origins) | list %}
        {% set failed_build_count = failed_builds | length %}
        {% set passed_build_count = passed_builds | length %}
        {{- passed_build_count | string + " passed, " +
            failed_build_count | string + " failed" }}
    {% endif %}
{% endmacro %}

{% macro container_summary(container, max_list_len) %}
    {% if container.builds %}
        {{- "\nBUILDS" }}
        {% set failed_builds =
                container.builds | selectattr("status", "eq", "FAIL") |
                selectattr('origin', 'in', selected_origins) |
                rejectattr('architecture', 'none') | list %}
        {% set failed_build_count = failed_builds | length %}
        {% if failed_builds %}
            {{- "\n    Failures" }}
            {% for origin, builds in failed_builds|groupby("origin") %}
                {% for build in builds %}
                    {{- [( indent + '-') + build.architecture,
                        none if build.config_name is none else ('(' + build.config_name + ')')] |
                        reject("none") | join(" ") -}}
                    {{- "\n" + indent + "Build detail: https://kcidb.kernelci.org/d/build/build?orgId=1&var-id=" + build.id}}
                    {% if build.log_excerpt %}
                        {{- indent + "Build error: " + build.log_error }}
                    {% endif %}
                {% endfor %}
                {{- indent + "CI system: " + origin + "\n\n"-}}
            {% endfor %}
        {% else %}
            {{- "\n    No build failures found" }}
        {% endif %}
    {% else %}
        {{- "\n    No builds found" }}
    {% endif %}
{% endmacro %}
