{# Test macros #}
{% import "stable_rc.j2" as stable_rc_macros %}

{% macro tests_stats(container) %}
    {% if container.tests %}
        {% set boot_tests = container.tests_root["boot"].waived_status_tests %}
        {% set failed_tests = boot_tests[false]["FAIL"] | selectattr('origin', 'in', stable_rc_macros.selected_origins) | list %}
        {% set passed_tests = boot_tests[false]["PASS"] | selectattr('origin', 'in', stable_rc_macros.selected_origins) | list %}
        {{- passed_tests | length | string + " passed, " +
            failed_tests | length | string + " failed" }}
    {% endif %}
{% endmacro %}

{% macro container_summary(container, max_list_len) %}
    {{- "\nBOOT TESTS" }}
    {% if container.tests %}
        {% set failed_boot_tests = container.tests_root["boot"].waived_status_tests[false]["FAIL"] |
            selectattr('origin', 'in', stable_rc_macros.selected_origins) | list %}
        {% if failed_boot_tests %}
            {{- "\n    Failures" }}
            {% for origin, boot_tests in failed_boot_tests|groupby("origin") %}
                {% set boot_tests_info = boot_tests | selectattr('environment_misc.platform', 'defined') |
                selectattr('build.architecture', 'ne', None) | list %}
                {% if boot_tests_info %}
                    {% for architecture, tests in boot_tests_info|groupby("build.architecture") %}
                        {{- "      " + architecture }}:({{ tests|map(attribute="build.config_name") | unique | join("") }})
                        {% for test in tests %}
                            {{- "      -" + test.environment_misc.platform }}
                        {% endfor %}
                    {% endfor %}
                    {{- "      CI system: " + origin + "\n" }}
                {% else %}
                    {{- "\n      Missing failure information. Sorry, we are working on improving report for this situation." }}
                    {{- "\n      CI system: " + origin + "\n" }}
                {% endif %}
            {% endfor %}
        {% else %}
            {{- "\n    No boot failures found" }}
        {% endif %}
    {% else %}
        {{- "\n    No tests found" }}
    {% endif %}
{% endmacro %}
