{# Revision description template #}
{% from "common.j2" import selected_origins %}
{% import "stable_rc_test.j2" as test_macros %}
{% import "stable_build.j2" as build_macros %}
{% import "misc.j2" as misc_macros %}
{# Maximum length of a list of things (builds/tests/etc.) #}
{% set max_list_len = 5 %}

OVERVIEW

{% if revision.patchset_files %}
       Patches: {{ misc_macros.valid_badge(revision.checkouts_valid) }}
{% endif %}
{% if revision.builds %}
        Builds: {{ build_macros.build_stats(revision) }}
{% endif %}
{% if revision.tests %}
    Boot tests: {{ test_macros.tests_stats(revision) }}
{% endif %}
    CI systems: {{ revision.checkouts | map(attribute="origin") |
           unique | sort | select('in', selected_origins) | join(", ") }}

REVISION

    Commit
        {% if revision.git_commit_name %}
            {{- "        name: " + revision.git_commit_name }}
        {% endif %}
        {% if revision.git_commit_hash %}
            {{- "        hash: " + revision.git_commit_hash }}
        {% endif %}
    {# The stable-rc repo's URL #}
    {% set stable_rc_repo = 'https://git.kernel.org/pub/scm/linux/' +
                            'kernel/git/stable/linux-stable-rc.git' %}
    {# List of other repo's URLs #}
    {% set other_repos = revision.repo_branch_checkouts.keys() |
                         reject('==', stable_rc_repo) | reject("none") | list %}
    Checked out from
        {{- "\n        " +
            (([stable_rc_repo] + (revision.repo_branch_checkouts[stable_rc_repo] | list)) |
            reject("none") | join(" ")) }}
    {% if other_repos %}
    Also checked out from
        {% for repo, branch_checkouts in revision.repo_branch_checkouts.items() %}
            {% if repo in other_repos %}
                {{- "        " +
                    (([repo] + (branch_checkouts | list)) |
                    reject("none") | join(" ")) }}
            {% endif %}
        {% endfor %}
    {% endif %}
{% if revision.patchset_files %}
    {% set patch_count = revision.patchset_files | length %}
    With {{ patch_count -}}
    {{- " patches" if patch_count > 1 else "patch" }} applied
        {% for patchset_file in revision.patchset_files[:max_list_len] %}
            {{- "        " + patchset_file.url }}
        {% endfor %}
        {% if (revision.patchset_files | length) > max_list_len %}
            {{- "        ..." }}
        {% endif %}
{% endif %}

{# #}
{{- build_macros.container_summary(revision, max_list_len) -}}
{{- test_macros.container_summary(revision, max_list_len) -}}
{# #}

See complete and up-to-date report at:

    https://kcidb.kernelci.org/d/revision/revision?orgId=1&var-git_commit_hash={{revision.git_commit_hash | urlencode }}&var-patchset_hash={{revision.patchset_hash | urlencode }}


Tested-by: kernelci.org bot <bot@kernelci.org>

Thanks,
KernelCI team

{# Force git commit hook to ignore trailing newline #}
