{# Test macros #}

{# Waived value emojis in order of decreasing priority #}
{% set WAIVED_EMOJIS = {
        false:  "",
        true:   "🚧",
        none:   "❓",
    } %}

{# Status value emojis in order of decreasing priority #}
{% set STATUS_EMOJIS = {
        "FAIL":     "❌",
        "ERROR":    "💥",
        "PASS":     "✅",
        "DONE":     "🆗",
        "SKIP":     "⏩",
        none:       "❓",
    } %}

{# Combined waived and status values emojis in order of decreasing priority #}
{% set WAIVED_STATUS_EMOJIS = {} %}
{% for waived, waived_emoji in WAIVED_EMOJIS.items() %}
    {% for status, status_emoji in STATUS_EMOJIS.items() %}
        {% set _ = WAIVED_STATUS_EMOJIS.__setitem__(
            (waived, status), waived_emoji + status_emoji
           ) %}
    {% endfor %}
{% endfor %}

{% macro status_emoji(status) %}
    {{- STATUS_EMOJI[status] -}}
{% endmacro %}

{% macro waived_emoji(waived) %}
    {{- WAIVED_EMOJI(waived) -}}
{% endmacro %}

{% macro status_name(status) %}
    {{- "UNKNOWN" if status is none else status -}}
{% endmacro %}

{% macro status_badge(status) %}
    {{- status_emoji(status) + " " + status_name(status) -}}
{% endmacro %}

{% macro waived_status_emoji(waived, status) %}
    {{- WAIVED_STATUS_EMOJIS[(waived, status)] -}}
{% endmacro %}

{% macro waived_status_badge(waived, status) %}
    {{- waived_status_emoji(waived, status) + " " + status_name(status) -}}
{% endmacro %}

{% macro summary(test) %}
    {{- [test.path,
         none if test.comment is none else ('"' + test.comment + '"')] |
        reject("none") | join(" ") | default(test.id, true) -}}
{% endmacro %}

{% macro container_emoji_counts(emoji_counts, container) %}
    {% for (waived, status), emoji in WAIVED_STATUS_EMOJIS.items() %}
        {% set _ = emoji_counts.__setitem__(
            emoji,
            container.tests_root.waived_status_nodes[waived][status] | length
           ) %}
    {% endfor -%}
{% endmacro %}

{% macro container_summary(container, max_list_len) %}
    {% if container.tests %}
        {{- "\nTESTS" }}
        {% set waived_status_nodes = container.tests_root.waived_status_nodes %}
        {{- "\n    Status" }}
            {{- "\n      " -}}
            {% for waived, status_nodes in waived_status_nodes.items() %}
                {% for status, nodes in status_nodes.items() %}
                    {% if nodes %}
                        {{- "  " + waived_status_emoji(waived, status) +
                            " " + (nodes | length | string) -}}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            {{- "" }}
        {% set errored_nodes = waived_status_nodes[false]["ERROR"] %}
        {% if errored_nodes %}
            {{- "    Errors" }}
            {% for node in errored_nodes[:max_list_len] %}
                {{- "        " +
                    waived_status_emoji(node.waived, node.status) +
                    " " + (node.path | default("?", true))
                }}
            {% endfor %}
            {% if (errored_nodes | length) > max_list_len %}
                {{- "        ..." }}
            {% endif %}
        {% endif %}
        {% set failed_nodes = waived_status_nodes[false]["FAIL"] %}
        {% if failed_nodes %}
            {{- "    Failures" }}
            {% for node in failed_nodes[:max_list_len] %}
                {{- "        " +
                    waived_status_emoji(node.waived, node.status) +
                    " " + (node.path | default("?", true))
                }}
            {% endfor %}
            {% if (failed_nodes | length) > max_list_len %}
                {{- "        ..." }}
            {% endif %}
        {% endif %}
        {{- "    By\n        " -}}
            {{- container.tests | map(attribute="origin") |
                unique | sort | join(", ") }}
    {% endif %}
{% endmacro %}
