# Pip requirements for Google Cloud Functions.
# Must match install_requires from setup.py.
google-cloud-bigquery
google-cloud-pubsub<2.0.0dev
google-cloud-firestore
google-cloud-secret-manager<2.0.0dev
jsonschema[format]
requests
pyyaml
jinja2
python-dateutil
jq@git+https://github.com/spbnick/jq.py.git@1.1.2.post1
kcidb-io@git+https://github.com/kernelci/kcidb-io.git@847363db6c382d2e811a4ba6da54e4c6cccee54e
