# Pip requirements for Google Cloud Functions.
# Must match install_requires from setup.py.
google-cloud-bigquery
google-cloud-pubsub<2.0.0dev
google-cloud-firestore
google-cloud-secret-manager
importlib_metadata
jsonschema[format]
requests
pyyaml
jinja2
python-dateutil
cached-property
jq@git+https://github.com/spbnick/jq.py.git@1.1.2.post1
kcidb-io@git+https://github.com/kernelci/kcidb-io.git@v3_pre2
