# Pip requirements for Google Cloud Functions.
# Must match install_requires from setup.py.
google-cloud-bigquery
google-cloud-pubsub<2.0.0dev
google-cloud-firestore
google-cloud-secret-manager<2.0.0dev
jsonschema[format]
requests
pyyaml
jinja2
python-dateutil
jq@git+https://github.com/spbnick/jq.py.git@1.0.3spbnick1
kcidb-io@git+https://github.com/kernelci/kcidb-io.git@v2
