{# Build template macros #}

{% macro summary(build) %}
    {% set empty = True %}
    {% if build.architecture %}
        {{- build.architecture -}}
        {% set empty = False %}
    {% endif %}
    {% if build.config_name %}
        {{- "" if empty else " " -}}
        {{- build.config_name -}}
        {% set empty = False %}
    {% endif %}
    {% if build.comment %}
        {{- "" if empty else " " -}}
        {{- build.comment -}}
        {% set empty = False %}
    {% endif %}
{% endmacro %}
